# https://github.com/github/gitignore
#

# Compiled class file
*.class
*.git
readme.md~

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
workspace.code-workspace
