<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
    <meta name="robots" content="noarchive" />
    <meta name="robots" content="nosnippet" />
    <meta name="robots" content="noimageindex" />
    <meta name="robots" content="none" />
    <meta name="robots" content="nocache" />
    <meta name="robots" content="noyaca" />
    <meta name="robots" content="noydir" />
    <meta name="robots" content="noodp" />
    <meta name="robots" content="max-snippet:0" />
    <meta name="robots" content="max-image-preview:none" />
    <meta name="robots" content="max-video-preview:0" />
    <meta name="robots" content="notranslate" />
    <meta name="robots" content="unavailable_after: 2020-12-13" />
    <meta name="googlebot" content="noindex" />
    <meta name="bingbot" content="noindex" />
    <meta name="adidxbot" content="noindex" />
    <meta name="msnbot" content="noindex" />
    <meta name="slurp" content="noindex" />
    <meta name="yandex" content="noindex" />
    <meta name="googlebot-image" content="noindex" />
    <meta name="googlebot-mobile" content="noindex" />
    <meta name="googlebot-video" content="noindex" />
    <meta name="mediapartners-google" content="noindex" />
    <meta name="adsbot-google" content="noindex" />
    <meta name="msnbot-media" content="noindex" />
    <meta name="baiduspider" content="noindex" />
    <meta name="baiduspider-image" content="noindex" />
    <meta name="baiduspider-mobile" content="noindex" />
    <meta name="baiduspider-news" content="noindex" />
    <meta name="baiduspider-video" content="noindex" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<script type="module">
  import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
</script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray"></div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
